*{
  margin: 0px;
  padding: 0px;
}
.car
{
  font-size: 40px;
    padding: 15px;
    color: black;
    background-color:  white;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

     

} 
.dem{
  font-size: 60px;
  

}
.try{
  color: black;
}
/* .img1{
  padding-left: 600px;
 
 
} */